<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shop.mapper.CartMapper">
	
	<!--Cart 맵 -->
	<resultMap id="cartMap" type="Cart" autoMapping="false">
		<id column="CART_NO" property="cartNo"/>
		<result column="CART_QTY" property="cartQty"/>
		
		<association property="product" javaType="Product"
					 resultMap="com.itwill.shop.mapper.ProductMapper.productMapImage">
		</association>
		
		<collection property="productSelectedList" ofType="ProductSelected"
					resultMap="com.itwill.shop.mapper.ProductSelectedMapper.productSelectedMap"></collection>
	
	</resultMap>

	<!-- 카트 등록 -->
	<insert id="insertCart" parameterType="Cart">
		<selectKey order="BEFORE" resultType="int" keyProperty="cartNo">
			SELECT cart_cart_no_seq.nextval FROM DUAL
		</selectKey>
			INSERT INTO cart 
				 VALUES (#{cartNo}, #{cartQty}, #{customer.customerNo}, #{product.productNo})
	</insert>

	<!-- ProductSelected 등록 -->
	<insert id="insertProductSelected" parameterType="ProductSelected">
		<selectKey order="BEFORE" resultType="int" keyProperty="productSelectedNo">
			SELECT product_selected_product_selected_no_seq.nextval FROM DUAL
		</selectKey>
			INSERT INTO product_selected 
				 VALUES (#{productSelectedNo},cart_cart_no_seq.currval)
	</insert>

	<!-- ProductSelectedDetail 등록 -->
		<insert id="insertProductSelectedDetail" parameterType="ProductSelectedDetail">
			<selectKey order="BEFORE" resultType="int" keyProperty="productSelectedDetailNo">
			SELECT product_selected_detail_product_selected_detail_no_seq.nextval FROM DUAL
			</selectKey>
				INSERT INTO product_selected_detail
					 VALUES (#{productSelectedDetailNo},#{productSelected.productSelectedNo},#{productOptionDetail.productOptionDetailNo})
		</insert>

	<!-- 카트 중복 체크(옵션) -->
	<select id="checkProductSelected" parameterType="map" resultType="Integer">
	    SELECT product_option_detail_no
      	  FROM cart c
      	  JOIN product_selected ps
        	ON c.cart_no = ps.cart_no
          JOIN product_selected_detail psd
            ON ps.product_selected_no=psd.product_selected_no
     	 WHERE c.customer_no = #{customerNo}
       		   AND c.product_no = #{productNo}
       		   AND ps.product_selected_no = #{productSelectedNo}
	</select>
	
	<!-- 선택된 제품 번호 출력 (회원 번호, 제품 번호 기준) -->
	<select id="findProductSelectedNoByCustomerNoProductNo"
		   	parameterType="map" resultType="Integer">
		SELECT ps.product_selected_no
 		  FROM cart c
 		  JOIN product_selected ps
   			ON c.cart_no = ps.cart_no
		  JOIN product_selected_detail psd
		    ON ps.product_selected_no=psd.product_selected_no
		 WHERE c.customer_no = #{customerNo}
	     	   AND c.product_no = #{productNo}
 		 GROUP BY ps.product_selected_no
	</select>
	
	
	<!-- 선택된 제품 옵션 수정 (추후 추가 예정)-->
	<update id="updateByProductSelected">
		UPDATE product_selected ps
		   SET ps.product_option_detail_no = #{productOptionDetailNo}
		 WHERE ps.product_option_detail_no IN (
		    SELECT pod.product_option_detail_no
		      FROM product_option_detail pod
		      JOIN product_option po
		        ON pod.product_option_no = po.product_option_no
		     WHERE po.product_no = #{productNo}
		       AND po.product_option_no = #{productOptionNo}
		       AND pod.product_option_detail_no = #{productOptionDetailNo}
		       AND ps.cart_no = #{cartNo}
		)
	</update>

	<!-- 카트 수량 수정 -->
	<update id="updateCartQty" parameterType="map">
		UPDATE cart
		   SET cart_qty = cart_qty + #{cartQty}
		 WHERE cart_no = #{cartNo}
	</update>
	
	<!-- 카트 수량 1개 증가 -->
	<update id="increaseCartQtyByOne" parameterType="int">
		UPDATE cart
		   SET cart_qty = cart_qty+1
		 WHERE cart_no = #{cartNo}
	</update>
	
	<!-- 카트 수량 1개 감소 -->
	<update id="decreaseCartQtyByOne" parameterType="int">
		UPDATE cart
		   SET cart_qty = cart_qty-1
		 WHERE cart_no = #{cartNo}
	</update>
	
	
	
	<!-- 카트 1개 삭제 -->
	<delete id="deleteByCartNo" parameterType="int">
		DELETE FROM cart
		 WHERE cart_no = #{cartNo}
	</delete>
	
	<!-- 카트 전체 삭제 -->
	<delete id="deleteByCustomerNo" parameterType="int">
		DELETE FROM cart
		 WHERE customer_no = #{customerNo}
	</delete>



	<!-- 카트 전체 리스트 반환 (어드민) -->
	<select id="findAll">
		SELECT * FROM cart
	</select>

	<!-- 회원 번호 기준 카트 리스트 반환 -->
	<select id="findByCustomerNo" parameterType="int" resultMap="cartMap">
		SELECT c.cart_no, c.product_no, p.product_name, c.cart_qty, p.product_price, pi.product_image_no, pi.product_image_file,
     		   ps.product_selected_no, psd.product_selected_detail_no, po.product_option_no, po.product_option_type, pod.product_option_detail_no, pod.product_option_detail_name, pod.product_option_detail_price
		  FROM cart c
		  JOIN product p
		    ON p.product_no=c.product_no
		  JOIN product_image pi
		    ON p.product_no=pi.product_no
		  JOIN product_selected ps
		    ON c.cart_no=ps.cart_no
		  JOIN product_selected_detail psd
		    ON ps.product_selected_no=psd.product_selected_no
		  JOIN product_option_detail pod
		    ON psd.product_option_detail_no=pod.product_option_detail_no
		  JOIN product_option po
		    ON pod.product_option_no=po.product_option_no
		 WHERE c.customer_no=#{customerNo}
	</select>

	<!-- 카트 번호 기준 카트 정보 반환 -->
	<select id="findByCartNo" parameterType="int" resultMap="cartMap">
		SELECT c.cart_no, c.product_no, p.product_name, c.cart_qty, p.product_price, pi.product_image_no, pi.product_image_file,
     		   ps.product_selected_no, psd.product_selected_detail_no, po.product_option_no, po.product_option_type, pod.product_option_detail_no, pod.product_option_detail_name, pod.product_option_detail_price
		  FROM cart c
		  JOIN product p
		    ON p.product_no=c.product_no
		  JOIN product_image pi
		    ON p.product_no=pi.product_no
		  JOIN product_selected ps
		    ON c.cart_no=ps.cart_no
		  JOIN product_selected_detail psd
		    ON ps.product_selected_no=psd.product_selected_no
		  JOIN product_option_detail pod
		    ON psd.product_option_detail_no=pod.product_option_detail_no
		  JOIN product_option po
		    ON pod.product_option_no=po.product_option_no
		 WHERE c.cart_no=#{cartNo}
	</select>

	<!-- 제품 옵션 번호로 카트 번호 반환 -->
	<select id="findCartNoByProductSelectedNo" parameterType="map" resultType="int">
		SELECT c.cart_no
 		  FROM cart c
 		  JOIN product_selected ps
   			ON c.cart_no = ps.cart_no
		  JOIN product_selected_detail psd
		    ON ps.product_selected_no=psd.product_selected_no
		 WHERE c.customer_no = #{customerNo}
	     	   AND c.product_no = #{productNo}
               AND ps.product_selected_no = #{productSelectedNo}
         GROUP BY c.cart_no
	</select>


</mapper>