<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shop.mapper.CustomerMapper">

	<!--Customer 기본 맵-->
	<resultMap id="customerMapBasic" type="Customer" autoMapping="true">
		<id column="CUSTOMER_NO" property="customerNo"/>
		<result column="CUSTOMER_ID" property="customerId"/>
		<result column="CUSTOMER_PASSWORD" property="customerPassword"/>
		<result column="CUSTOMER_NAME" property="customerName"/>
		<result column="CUSTOMER_DOB" property="customerDob"/>
		<result column="CUSTOMER_ADDRESS" property="customerAddress"/>
		<result column="CUSTOMER_GENDER" property="customerGender"/>
		<result column="CUSTOMER_PHONE" property="customerPhone"/>
		<result column="CUSTOMER_EMAIL" property="customerEmail"/>
		<result column="CUSTOMER_NICKNAME" property="customerNickname"/>
		<result column="CUSTOMER_JOINDATE" property="customerJoindate"/>
	</resultMap>
	
	<!--Customer 맵 Review, Orders, CustomrCoupons 맵 포함-->
	<resultMap id="customerMapDetail" type="Customer" autoMapping="true">
		<id column="CUSTOMER_NO" property="customerNo"/>
		<result column="CUSTOMER_ID" property="customerId"/>
		<result column="CUSTOMER_PASSWORD" property="customerPassword"/>
		<result column="CUSTOMER_NAME" property="customerName"/>
		<result column="CUSTOMER_DOB" property="customerDob"/>
		<result column="CUSTOMER_ADDRESS" property="customerAddress"/>
		<result column="CUSTOMER_GENDER" property="customerGender"/>
		<result column="CUSTOMER_PHONE" property="customerPhone"/>
		<result column="CUSTOMER_EMAIL" property="customerEmail"/>
		<result column="CUSTOMER_NICKNAME" property="customerNickname"/>
		<result column="CUSTOMER_JOINDATE" property="customerJoindate"/>
		
		<collection property="ordersList" ofType="Orders"
					resultMap="com.itwill.shop.mapper.OrdersMapper.ordersMapOrdersItems">
		</collection>
		
		<collection property="reviewList" ofType="Review"
					resultMap="com.itwill.shop.mapper.ReviewMapper.reviewMapProduct">
		</collection>
		
		<collection property="customerCouponList" ofType="CustomerCoupons"
					resultMap="com.itwill.shop.mapper.CustomerCouponsMapper.customerCouponsMapCoupon">
		</collection>
		
	</resultMap>

	<!-- 사용자 등록 -->
	<insert id="insertCustomer" parameterType="Customer">
		<selectKey order="BEFORE" resultType="int"
			keyProperty="customerNo">
			select customer_customer_no_seq.nextval from dual
		</selectKey>

		insert into customer values 
		(#{customerNo},#{customerId},#{customerPassword},#{customerName},#{customerDob},#{customerAddress},
		#{customerGender},#{customerPhone},#{customerEmail},#{customerNickname},#{customerJoindate})
	</insert>
	
	<!--  사용자 정보 리스트  -->
	<select id="findCustomerNoListAll" parameterType="int" resultMap="customerMapDetail">
				select * from customer c
				left join review r
				on c.customer_no = r.customer_no
				left join orders o
				on c.customer_no = o.customer_no
				left join orders_items oi
				on o.orders_no = oi.orders_no
				left join product p
				on oi.product_no = p.product_no
				left join customer_coupons cc
				on c.customer_no = cc.customer_no
				left join coupon cp
				on cc.coupon_no = cp.coupon_no 
				where c.customer_no = #{customer_no}
	</select>
	
	
	

	<!-- 사용자 아이디로 찾기 -->
	<select id="findCustomerId" parameterType="String"
		resultType="Customer">
		select * from customer where customer_id = #{customer_Id}
	</select>



	<!-- 사용자 번호로 찾기 -->
	<select id="findCustomerNo" parameterType="int"
		resultType="Customer">
		select * from customer where customer_no = #{customer_no}
	</select>

	<!-- 사용자 정보 수정 -->
	<update id="updateCustomer" parameterType="Customer">
		update customer set
		customer_password = #{customerPassword},
		customer_address = #{customerAddress} ,
		customer_gender = #{customerGender},
		customer_phone = #{customerPhone} ,
		customer_email = #{customerEmail},
		customer_nickname = #{customerNickname}
		where customer_no = #{customerNo}
	</update>

	<!-- 사용자 회원 탈퇴 -->
	<delete id="deleteCustomer" parameterType="int">
		delete from customer where customer_no = #{customer_no}
	</delete>

	<!-- 사용자 중복체크 -->
	<select id="countByCustomerId" parameterType="String">
		select count(*) from customer where customer_id = #{customer_id}
	</select>

	<!--(어드민전용) 전체 사용자 리스트 -->
	<select id="customerList" resultType="Customer">
		select * from customer
	</select>


</mapper>

