<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shop.mapper.CustomerCouponsMapper">
	
	<!--Customer 맵 Coupon 포함-->
	<resultMap id="customerCouponsMapCoupon" type="CustomerCoupons" autoMapping="true">
		<id column="CUSTOMER_COUPONS_NO" property="customerCouponsNo"/>
		<result column="CUSTOMER_COUPONS_ENDDATE" property="customerCouponsEnddate"/>
		<result column="CUSTOMER_COUPONS_STATUS" property="customerCouponsStatus"/>
		
		<association property="coupon" javaType="Coupon"
					 resultMap="com.itwill.shop.mapper.CouponMapper.couponMapBasic"></association>
	</resultMap>
	
	
	<!-- 쿠폰 리스트 조회 -->
	<select id="findCouponList" parameterType = "Integer" resultMap="customerCouponsMapCoupon">
	select 
	c.coupon_no, c.coupon_name, c.coupon_desc, c.coupon_id, c.coupon_discount,
	cu.customer_coupons_no, cu.customer_coupons_enddate, cu.customer_coupons_status, cu.customer_no
	from coupon c
	join customer_coupons cu
	on c.coupon_no = cu.coupon_no
	where cu.customer_no = #{customerNo}
	</select>
	
	<!-- 쿠폰 조회 -->
 	<select id="findCoupon" parameterType="Integer" resultMap="customerCouponsMapCoupon">
	select
  	c.coupon_name, c.coupon_desc, cu.customer_coupons_enddate, c.coupon_id,
  	cu.customer_coupons_status, cu.customer_coupons_no, c.coupon_no
	from coupon c
	join customer_coupons cu
	on c.coupon_no = cu.coupon_no
	where cu.customer_coupons_no = #{customerCouponsNo}
	</select>
	
	<!-- 쿠폰 사용(사용완료 상태로 변경) -->
	<update id="updateCoupon" parameterType="Integer">
	update customer_coupons
	set customer_coupons_status ='사용완료'
	where customer_coupons_no=#{customerCouponsNo}
	</update>
	
	<!-- (어드민) 쿠폰 발급 -->
	<insert id="insertCustomerCoupon" parameterType="CustomerCoupons">
	insert into customer_coupons 
	values(customer_coupons_customer_coupons_no_seq.nextval,
	sysdate+30, #{customerCouponsStatus},#{coupon.couponNo},#{customer.customerNo})
	</insert>
	
	<!-- 사용자가 입력한 쿠폰 일련 번호가 존재하는지 체크 -->
	<select id="countByCouponId" parameterType="String" resultType="int">
	select count(*) from coupon where coupon_id=#{couponId}
	</select>
	
	<!-- 일련 번호 입력 시 사용자 쿠폰 발급 -->
	<insert id="insertCustomerCouponById" parameterType="CustomerCoupons">
	insert into customer_coupons
	values(customer_coupons_customer_coupons_no_seq.nextval, sysdate+30,
	'사용가능', #{coupon.couponNo}, #{customer.customerNo})
	</insert>
	
	<!-- 일련 번호 입력 시 쿠폰 아이디 조회 후 정보 반환 -->
	<select id="getCouponId" parameterType="String" resultType="Coupon">
	select * from coupon where coupon_id=#{couponId}
	</select>
	
	<!-- 사용자의 보유 쿠폰 갯수 반환 -->
	<select id="getCouponCount" parameterType="Integer"  resultType="int">
	select count(*) from customer_coupons where customer_no =#{customer.customerNo}
	</select>
	
	<!-- 사용자 번호로 CustomerCoupons 객체 반환 -->
	<select id="findCustomerCouponsByNo" parameterType="Integer" resultMap="customerCouponsMapCoupon">
	select distinct * from customer_coupons where customer_no = #{customer.customerNo}
	</select>
	
	
</mapper>



   
