<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shop.mapper.CustomerCouponsMapper">
	<!-- 쿠폰 조회 resultMap type = CustomerCoupons -->
	<resultMap id="couponResultMap" type="com.itwill.shop.customer.CustomerCoupons">
    <result property="customerCouponsNo" column="customer_coupons_no"/>
    <result property="customerCouponsEnddate" column="customer_coupons_enddate"/>
    <result property="customerCouponsStatus" column="customer_coupons_status"/>
    <collection property="couponNo" javaType="com.itwill.shop.coupon.Coupon">
        <result property="couponName" column="coupon_name"/>
        <result property="couponDesc" column="coupon_desc"/>
    </collection>
</resultMap>
	
	<!-- 쿠폰 리스트 조회 -->
	<select id="findCouponList" parameterType = "Integer" resultMap="couponResultMap">
	select 
	*
	from coupon c
	join customer_coupons cu
	on c.coupon_no = cu.coupon_no
	where cu.customer_no = #{customerNo}
	</select>
	
	
	<!-- 쿠폰 사용(사용완료 상태로 변경) -->
	<update id="updateCoupon" parameterType="Integer">
	update customer_coupons
	set customer_coupons_status ='사용가능'
	where customer_coupons_no=#{customerCouponsNo}
	</update>
	
	<!-- (어드민) 쿠폰 발급 -->
	<insert id="insertCustomerCoupon" parameterType="com.itwill.shop.customer.CustomerCoupons">
	insert into customer_coupons 
	values(customer_coupons_customer_coupons_no_seq.nextval,
	sysdate+30, #{customerCouponsStatus},#{couponNo.couponNo},#{customerNo.customerNo})
	</insert>
	
	
	
	
</mapper>



   
