<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shop.mapper.CustomerMapper">



<!--  사용자 등록 -->
<insert id="insertUser" parameterType="Customer">
<selectKey order="BEFORE" resultType="int" keyProperty="customerNo">select customer_customer_no_seq.nextval from dual;   </selectKey>

insert into customer values (customer_no,customer_id,customer_password,customer_name,customer_dob,customer_address,
							 customer_gender,customer_phone,customer_email,customer_nickname,customer_joindate) 
VALUES 
(#{customerNo},#{customerId},#{customerPassword,#{customerName},#{customerDob},#{customerAddress},
#{customerGender},#{customerPhone},#{customerEmail},#{customerNickname},#{customerJoindate});
 </insert>
 
 
 
 <!--  사용자 번호로 찾기 -->
 <select id="findCustomer" parameterType="int" resultType="Customer">
 select * from customer where customer_no = #{customer_no];
 </select>
 
 <!--  사용자 정보 수정 -->
 <update id="updateCustomer" parameterType="Customer">
 update customer set 
customer_password = #{customerPassword},
customer_address = #{customerAddress} , 
customer_gender =#{customerGender}, 
customer_phone =#{customerPhone} ,
customer_email = #{customerEmail},
customer_nickname = #{customerNickname},
where customer_no = #{customerNo};
 </update>

<!--  사용자 회원 탈퇴 -->
<delete id="deleteCustomer" parameterType="int">
delete from customer where customer_no = #{customer_no};
</delete>

<!--  사용자 중복체크 -->
<select id="countByCustomerId" parameterType="int">
select  count(*) from customer where customer_no = #{custmoer_no}
</select>



</mapper>

