<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shop.mapper.CustomerCouponsMapper">
	<!-- 쿠폰 조회 resultMap type = CustomerCoupons -->
	<resultMap id="couponResultMap" 
				type="CustomerCoupons"
				autoMapping="true">
	<id column="CUSTOMER_COUPONS_NO" property="customerCouponsNo"/>	
	<association property="customer" 
    			javaType="Customer"
    			autoMapping="true">
    <id column="CUSTOMER_NO" property="customerNo"/>				
    </association>
	<!-- 리스트 타입 collection 설정 -->
    <association property="coupon" 
    			javaType="Coupon"
    			autoMapping="true">
    <id column="COUPON_NO" property="couponNo"/>			
    </association>
</resultMap>
	
	<!-- 쿠폰 리스트 조회 -->
	<select id="findCouponList" parameterType = "Integer" resultMap="couponResultMap">
	select 
	c.coupon_name, c.coupon_desc, cu.customer_coupons_enddate, 
    cu.customer_coupons_status, cu.customer_coupons_no, c.coupon_no
	from coupon c
	join customer_coupons cu
	on c.coupon_no = cu.coupon_no
	where cu.customer_no = #{customerNo}
	</select>
	
	<!-- 쿠폰 조회 -->
 	<select id="findCoupon" parameterType="Integer" resultMap="couponResultMap">
	select
  	c.coupon_name, c.coupon_desc, cu.customer_coupons_enddate,
  	cu.customer_coupons_status, cu.customer_coupons_no, c.coupon_no
	from coupon c
	join customer_coupons cu
	on c.coupon_no = cu.coupon_no
	where cu.customer_coupons_no = #{customerCouponsNo}
	</select>
	
	<!-- 쿠폰 사용(사용완료 상태로 변경) -->
	<update id="updateCoupon" parameterType="Integer">
	update customer_coupons
	set customer_coupons_status ='사용완료'
	where customer_coupons_no=#{customerCouponsNo}
	</update>
	
	<!-- (어드민) 쿠폰 발급 -->
	<insert id="insertCustomerCoupon" parameterType="CustomerCoupons">
	insert into customer_coupons 
	values(customer_coupons_customer_coupons_no_seq.nextval,
	sysdate+30, #{customerCouponsStatus},#{coupon.couponNo},#{customer.customerNo})
	</insert>
	
</mapper>



   
