<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shop.mapper.ProductSelectedMapper">

	<!--ProductSelected 맵 ProductSelectedDetail 포함-->
	<resultMap id="productSelectedMap" type="ProductSelected" autoMapping="false">
		<id column="PRODUCT_SELECTED_NO" property="productSelectedNo"/>
		
		<!-- 
		<association property="cart" javaType="Cart"
					 resultMap="com.itwill.shop.mapper.CartMapper.cartMap">
		</association>
		-->
		
		<collection property="productSelectedDetailList" ofType="ProductSelectedDetail"
					 resultMap="com.itwill.shop.mapper.ProductSelectedDetailMapper.productSelectedDetailMap">
		</collection>
			 
	</resultMap>
</mapper>