/* 공통 스타일 */
.container {
    width: 768px;
    margin: 0 auto;
    padding: 20px;
}


.section {
	text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #dadada;
    background-color: #f9f9f9;
}

h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* 스크롤 가능한 섹션 */
.scroll-section {
    width: 100%; /* 너비를 100%로 확장 */
    height: 200px; /* 높이는 유지 */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    overflow-y: auto;
    background-color: #f9f9f9;				
}

.list-item {
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.a-style{
	font-size: 15px;
	float: right;
}
/*리뷰스타일*/
.review-container {        
   			display: block; 
   			text-decoration: none;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 0px;
            margin: 0px 0;
            color: inherit;
        }
        .review-title {
            font-size: 12px;
            margin-bottom: 10px;
        }
        .review-rating {
            color: #ffcc00;
            margin-bottom: 10px;
        }
        .review-body {
            font-size: 10px;
            line-height: 1.5;
        }
        .review-author {
            font-size: 14px;
            color: #666;
            margin-top: 10px;
        }
