/* 공통 스타일 */
.container {
    width: 768px;
    margin: 0 auto;
    padding: 20px;
}


.section {
	text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #dadada;
    background-color: #f9f9f9;
}

h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* 스크롤 가능한 섹션 */
.scroll-section {
    width: 100%; /* 너비를 100%로 확장 */
    height: 200px; /* 높이는 유지 */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    overflow-y: auto;
    background-color: #f9f9f9;				
}

.list-item {
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.btn-style{
	font-size: 10px;
	float: right;
}
